<h2>Streets</h2>

<table>
{{#each streets}}
<tr>
	<td>
		{{name}}
	</td>
	<td>
		<a href="/meters/{{id}}">Meters in street</a>
	</td>
</tr>
{{/each}}
</table>

<h2><a href="/appliances">See appliances and their respective electricity usage rates.</a></h3>

<h2><a href="/topupUnits">Buy eletricity</a></h2>

<h2><a href="/useUnits">Use eletricity</a></h2>

<h2><a href="/trackMeterId">Track data for a given meterId</a></h2>

<h2>Lowest meter data</h2>

<table style="width:100%">
	<tr>
		<td>
			Id
		</td>
		<td>
			Street_number
		</td>
		<td>
			Street_ID
		</td>
		<td>
			Balance
		</td>
	</tr>
	
	{{#each data}}
	<tr>

		<td>
			{{id}}

		</td>

		<td>
			{{street_number}}
		</td>
		<td>
			{{street_id}}
		</td>
		<td>
			{{balance}}
		</td>

	</tr>
	{{/each}}
</table>

<h2>Highest meter data</h2>

<table style="width:100%">
	<tr>
		<td>
			Id
		</td>
		<td>
			Street_number
		</td>
		<td>
			Street_ID
		</td>
		<td>
			Balance
		</td>
	</tr>
	
	{{#each data2}}
	<tr>

		<td>
			{{id}}

		</td>

		<td>
			{{street_number}}
		</td>
		<td>
			{{street_id}}
		</td>
		<td>
			{{balance}}
		</td>

	</tr>
	{{/each}}
</table>





